<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="haron taiko">
    <meta name="description" content="This is a payment app made using nodejs and the stripe api">
    <meta name="og:title" content="CBS Original series">
    <meta name="og:site" content="CBS Original series">
    <meta name="og:url" content="">
    <!--include bootstrap and title icon-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="icon" href="/img/cbs-logo-icon.png" type="image/gif" sizes="16x16">
    <title>Buy CBS Original Series</title>
</head>

<body class="bg-info text-white">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3 justify-content-center">
        <div class="conatiner">
            <a href="index.html" class="navbar-brand">
                <h3 class="d-inline align-middle">Buy CBS Original Series</h3>
            </a>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>