<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">Follow the link provided and enjoy the series</p>
    <a href="/" class="btn btn-dark btn-lg">Back</a>
</section>